/* Estrutura do Site */

body {
    background: rgb(7, 42, 51); 
    font: 13px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#menuestilo {
    height: 160px;
    background: url(../imagens/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} 

#container {
    margin: 0 auto;
    width: 100vw;
}



/* Logo */

#logo h1 {
    float: left;
    margin-left: 55px;
    padding-top: 20px;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    0% { 
        color: #ffe600;
    }

    25% {
        color: #00ffea;
    }

    50% {
        color: #9110fa;
    }

    75% {
        color: greenyellow;
    }

    100% { 
        color: rgb(255, 0, 0);
    }
}



/* Barra de Navegação */

#navegacao ul {
    margin-right: 180px;
    float: right;
    padding-top: 20px;
    list-style: none;
    color: red;
}

#navegacao ul li  {
    float: left;
}

a {
    display: block;
    margin-right: 25px;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: red;
    text-decoration: none;
}

a:hover {
    color: #00ffea;
}


/* Principal */

.imagemRespossiva{
    width: 50vw;
}

#conteudo {
    width: 50vw;
    float: left;
    margin-top: -80px;
    color: rgb(189, 192, 188);
    margin-bottom: 100px;
    margin-left: 1vh;
}

#lateral {
    width: 550px;
    float: right;
    background: #26566d21;
    margin-top: -80px;
    margin-right: 150px;
}

#mapa {
    padding-top: 100px;
    margin-left: 75px;
    padding-bottom: 200px;
}

#texto-mapa {
    margin-left: -60px;
    padding-bottom: 15px;
 }

#sputnik {
    margin-left: 75px;
}

#texto-sputnik {
    margin-left: -80px;
} 

#galeria {
    padding: 0 27px 0 50px;
    padding-top: 330px;
    padding-bottom: 110px;
}

#galeria a {
    float: left;
    padding: 17px 15px 17px 15px;
    margin: 10px 0 0 20px;
}

#popular {
    margin-left: 75px;
    margin-top: 450px;
}

#popular-texto {
    margin-left: -80px;
}

#internet-brasil {
    padding-top: 200px;
    margin-left: 75px;
}

#texto-brasil {
    margin-left: -80px;
}

#texto-img {
    margin-left: 80px;
    position: absolute;
    margin-top: 10px; 
    color: #fff;
}

#texto-img2 {
    margin-left: 310px;
    position: absolute;
    margin-top: 10px; 
    color: #fff;
}

#texto-img3 {
    margin-left: 80px;
    position: absolute;
    margin-top: 223px;
    color: #fff;
}

#texto-img4 {
    margin-left: 300px;
    position: absolute;
    margin-top: 223px;
    color: #fff;
}

section#galeria img {
    margin-left: 2px;
    margin-top: 5px;
}

h1 {
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h3 {
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-top: 40px;
}

h4 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

p {
    font-size: 1.2em;
}

#lista {
    margin-left: -25px;
    font-size: 1.1em;
}



/* Rodapé */

#rodape {
    clear: both;
    color: #fff;
    text-align: center;
    font-size: 1.4em;

}

    


@media (max-width: 1200px) {

    #lateral {
  
      display: none;
  
    }

    #conteudo{
        width: 97vw;
    }

    .imagemRespossiva{
        width: 97vw;
    }

  
  }
